.singleProddiv>img{
    width: 50%;
    height: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.singleProddiv{
    margin: auto;
    width: 70%;
    /* border:1px solid red; */
    display: flex;
    gap:50px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.singlePageContainer{
    width: 40%;
    /* border:1px solid rgb(41, 27, 167); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.singlePageContainer>p{
 
    font-size: 18px;
}
.button{
margin-bottom: 2%;
background-color: aqua;
border-radius: 5px;
border: none;
padding: 10px 20px 10px 20px;
}